/* Ensure the Header Logo is visible on Blue */
.md-header__button.md-logo img {
    filter: brightness(0) invert(1);
    height: 2.5rem !important;
}

/* Centers the Large Hub Logo in the Body */
.hero-logo {
    width: 500px; /* Made it a bit bigger for impact */
    max-width: 90%;
    display: block;
    margin: 40px auto;
}

/* Typography to match BCEHS Light style */
body, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}